html {
  box-sizing: border-box;
  background: transparent;

  /* Prevent the page to be scrollable */
  overflow: hidden;

  /* Force the default cursor, even on text */
  cursor: default;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  user-select: none;
}

#bootstrap-overrides .label-spiral {
  margin-top: 3pt;
}

#bootstrap-overrides h3 {
  margin-top: 10pt;
  margin-bottom: 8pt;
}

#bootstrap-overrides .helix-settings {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  border-color: #aaaaaa;
}

#bootstrap-overrides .well-sm {
  margin-bottom: 0;
  padding: 4.5pt;
}

#bootstrap-overrides .mainOptions {
  margin-top: 18pt;
}

#bootstrap-overrides .helix-settings #last-helix-setting{
  margin-bottom: 0px;
}